[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymysql = "*"
pillow = "*"
django-widget-tweaks = "*"
factory-boy = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
