{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Simple Blog</title>

        <link rel="icon" href="{% static 'myapp/dist/img/blogicon.png' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-5.0.2/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome-free/css/all.min.css' %}">
    </head>
    <body>
        {% include "front_main/header.html" %}
        <div class="container">
            
            {% block content %}{% endblock %}
           
            <footer class="page-footer font-small bg-secondary">
                <div class="footer-copyright text-center py-3">
                    Simple Blog Application<br>
                    <b>Copyright &copy; 2023 - Rahardian Dwi Saputra</b>
                </div>
            </footer>
        </div>

        <script src="{% static 'bootstrap-5.0.2/js/bootstrap.bundle.min.js' %}"></script>

    </body>
</html>