{% extends "front_main/base.html" %}
{% block content %}

{% if posts.count > 0 %}
<h3 class="mt-3 mb-3"> Postingan Terpopuler</h3>
<div class="card-group">
    {% for post in posts %}
    <div class="card">
        {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top" alt="image post" height="200">
        {% else %}
        <img src="https://picsum.photos/200/300?random={{ forloop.counter }}" class="card-img-top" alt="Image post" height="200">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title"><a href="/blog/detail/{{ post.slug }}" class="text-decoration-none text-dark">{{ post.title }}</a></h5>
            <p class="card-text">
                <small class="text-muted">Dibaca sebanyak {{ post.view_post }} kali</small>
            </p>
            <p class="card-text">{{ post.excerpt }}</p>
            <a href="/blog/detail/{{ post.slug }}" class="btn btn-primary">Selengkapnya</a>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h3 class="mt-3 mb-3"> Postingan Tidak Ditemukan</h3>
{% endif %}

{% endblock %}